@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@100&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap");
 
.container {
  max-width: 90vw;
  cursor: pointer;
}
.navbar li {
  list-style: none;
  margin: 0 12px;
}
.navbar {
  display: flex;
  height: 67px;
  font-family: "Ubuntu", sans-serif;
}
.topleft {
  width: 50%;
}

.topright {
  width: 50%;
}
.section1 {
  max-height: 100vh;
}
.section1 h1{
    font-size: 2rem;
}

.logo {
  font-size: 2rem;
}
.dumbellimg{
    width: 289px;
}
.topright .gymimg{
    width: 466px;
}

.section2{
padding: 53px;
}

.section2 h1{
font-size: 2.5rem;
}

.section2 p{
  padding: 0 8vw;
  text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(120,  54, 16);
    text-align: center;
    border-radius: 8px;
}

.box h2{
   font-size: 2rem; 
   padding:12px 0 ;
}


.highlighted{
    font-size:1.2rem ;
    font-weight: bolder;
}

.box ul{
    list-style: none;
}

.box ul li{
  margin: 12px 2px;
}

.plantable{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 table{
  width:100% ;
  margin-bottom:  140px;
  
  border-collapse: collapse;
}

.section3 table th{
  width: 23vw;
  border-bottom: 2px solid black;
  padding: 15px 0;
}

.section3 table  td{
  border-bottom: 2px solid black;
}

 
.section3 h1{
  font-size: 2.5rem;
  }

  .section3{
    padding-left:63px ;
    padding-right: 63px;
    }

     .lastfooter{
      text-align: center;
      background-color: black;
      color: white;
      justify-content: space-evenly;
      align-items:flex-end;
      font-size: 1rem;
     }

     .lastfooter i{
      
     }


     
    
    
    